.card{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    cursor: pointer;
    .image-container{
        border-radius:8px;
        overflow: hidden;
        max-height: 300px;
        max-width: 200px;
        width: max-content;
        img{
            
            height: 300px;
            
            
        }
        
    }
    h4{
        margin-top: 8px 0px;
        color: $gray1;

    }
    .year-rating-container{
        display: flex;
        justify-content: space-between;
        color: $gray3;
        p{
            margin: 4px 0px;
            font-size: 14px;
            font-weight: 600;
            display: flex;
            align-items: center;

        }
        svg{
            height: 18px;
            width: 18px;
            color: $accent;
            margin-right: 4px;
        }
    }
}